<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <!-- Optional: Remove or update log elements based on your PHPUnit version -->
    </logging>
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
</phpunit>
